<!doctype html>
<html>
<head>
    <title>{% block title %}Foursquare to KML{% endblock title %}</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">

    <script type="text/javascript" src="//use.typekit.net/lsl6wfq.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>


<header class="page-header">
    <h1><a href="{{ app.url_generator.generate('index') }}">4sqtokml</a></h1>
</header>


<section class="page-content">
    {% block content %}{% endblock %}
</section>

{% if user %}
<section class="page-user">
    <nav><a href="{{ app.url_generator.generate('logout') }}">Logout</a></nav>
</section>
{% endif %}

<footer class="page-footer">
    <p>Handcrafted in Vienna by <a href="http://florianeckerstorfer.com">Florian Eckerstorfer</a>.
        <br>The source code is released on <a href="https://github.com/florianeckerstorfer/4sqtokml">Github</a>.
        <br>This is version {{ version }}
</footer>

</body>
</html>
